/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background color */
body {
    font-family: 'Sometype Mono', monospace; /* Imposta il font Sometype Mono */
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Container to center content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #5b5ea6;
}

header p {
    font-size: 1.2em;
    color: #777;
}

/* About me section */
.about-me {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-me h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.about-me p {
    font-size: 1.1em;
    color: #555;
}

/* Links section */
.links ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #5b5ea6;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: #5b5ea6;
    font-size: 1.2em;
}
